<!-- Start Main Container -->
<div id="container">


	<!-- Start Header -->
	<div id="header">
    
        <div id="header-main">
        
        	<!-- Start Header Wrapper -->
            <div class="wrapper">
            
                <h1 class="logo">AppShow Logo</h1>
                
                <div class="intro">
                
                    <p><span style="color:#9DE;"></span> <h3>Start your weekend restaurant today</h3><br />
                     Sign up to share your dream restaurant stories.
                    </p>
                    
                    <p class="app-store"></p>
                    
                </div>
                
            </div><!-- End Header Wrapper -->
            
        </div>
        
	</div><!-- End Header -->
    
    
    <!-- Start Main Container -->
	<div id="mainContent">
    
    	<!-- Start Main Content Wrapper -->
		<div class="wrapper">
        
        	<!-- Start Content Wrapper -->
			<div id="content">
				
                <!-- Start Features Panel -->
                <div id="features_panel" class="panel">
                
                    <ul class="features">
                    
                        <li>
                            <h2 class="cook">Easy to open dining</h2>
                            <p>This is sample text about littele dining.This is sample text about littele dining.This is sample text about littele dining.This is sample text about littele dining.</p>
                        </li>
                        
                        <li>
                            <h2 class="dinner">Social dinner</h2>
                            <p>This is sample text about littele dining.This is sample text about littele dining.This is sample text about littele dining.This is sample text about littele dining.</p>
                        </li>
                        
                        
                        <li>
                        <span style="font-size:18px; line-height:2px;">
                        <h1>Get invitation, It's FREE!</h1><br /></span>
                        <div id="footer-subscribe">
                        
                            <form method="post" action="">
                                <input id="email" type="text" placeholder="Enter your email address">
                                <p> </p>
                                <input type="submit" value="Registration" id="email-submit" onclick="alert('Mada-dayo!Gomen-NE!:)');return false;">
                            </form>
                        
                        </div>

                        </li>
                        <li>
                        </li>
                           
                    </ul>
                    
                </div><!-- End Features Panel -->
                
			                
                
				<!-- Start Footer -->
				<div id="footer">
                
                	<!-- Right Footer -->
                    <div id="footer-right">
                        <div id="social-icons">
                       

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=199577223476057";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" style="padding-top:-10px;" data-href="<%= root_url %>" data-width="150" data-show-faces="false" data-layout="button_count" data-send="false"></div>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="Start your weekend restaurant today - Littele Dining">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



                        
                        </div>
                    
                    </div><!-- End Right Footer -->
                    
                    
                    <!-- Left Footer -->
                    <p class="footer-left">
                    
                        Copyright Littele Dining, inc 2012<br />
                        Contact to <a href="mailto:shan.riku@gmail.com">shan.riku@gmail.com</a>
                    
                    </p><!-- End Left Footer -->
                    
                    <br class="clear" />
                    
				</div><!-- End Footer -->

			</div><!-- End Content Wrapper -->
            
            
            <!-- Start iPhone Mockup -->
			<div id="iphone">
            
				<ul id="slides">
					<li><img src="images/screens/sd1.png" alt="Account screen" border="0" /></li>
					<li><img src="images/screens/sd3.png" alt="Account screen" border="0" /></li>
					<li><img src="images/screens/sd2.png" alt="Account screen" border="0" /></li>
				</ul>
                
                <a href="#" id="homebutton" title="Download AppShow Now!">Click Me</a>
               
			</div><!-- End iPhone Mockup -->
            
		</div><!-- End Wrapper -->
        
	</div><!-- End Main Content -->
    
</div><!-- End Main Container -->


